@media (max-width: 991px) {
  header nav .main-ul li {
    margin: 10px;
  }
  /* baner right */
  #home .right-side .img-box {
    width: 350px;
    height: 350px;
  }
  /* #home .left-side {
    justify-content: center;
    display: flex;
    flex-direction: column;
  } */
  #home {
    margin: 18px 0;
  }
  #home .right-side .img-box .img-shadow {
    width: 300px;
    height: 300px;
  }
  #home .right-side .img-box .img-bg {
    width: 250px;
    height: 250px;
  }
  #home .right-side {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  #home .left-side .fest-hello {
    margin-top: 57px;
    display: inline-block;
    font-weight: 200;
    font-size: 30px;
    line-height: 78%;
    color: #fff;
  }
  /* baner left  */
  #home .left-side h1 {
    font-size: 50px;
    margin: 22px 0 0px;
  }
  #home .left-side .skills .typing {
    font-size: 40px;
    margin: -20px 0 8px;
    display: block;
  }
  #home .icons {
    margin: 5px 0 20px;
  }
  /* #home .icons {
    display: flex;
    justify-content: center;
  } */
  #home .left-side .hireMe-btn {
    font-size: 25px;
    margin-top: 10px;
  }
  #home .right-side {
    margin-top: 0px;
  }
  /* HOME END HEAIR  */
  /* ABOUT ME */
  #about h2 {
    font-size: 30px;
  }
  #about .about-border {
    width: 200px;
  }
  #about .about-me h3 {
    font-size: 30px;
  }
  #about .about-me p {
    font-size: 15px;
  }

  #about .about-me {
    margin-top: 170px;
  }
  #about {
    width: 100%;
  }
  /* My Skill */
  #mySkill .imgBox img {
    width: 70px;
  }
  #mySkill {
    height: 115vh;
  }

  #mySkill .skillLavelBox .skilllavel {
    width: 300px;
    height: 20px;
  }
  .htmlBox .parsent,
  .cssBox .parsent,
  .btBox .parsent,
  .jsBox .parsent,
  .jqueryBox .parsent,
  .mysqlBox .parsent,
  .laravelBox .parsent,
  .phpBox .parsent {
    height: 20px;
  }
}
